Release Notes

* ${currentVersion}

  * Change how OneBusAway logo image is referenced in site generation.

  * Full Documentation: {{${site_base_url}/onebusaway/${currentVersion}/}}
  
* 1.1.5

  * Initial site documentation.

  * Full Documentation: {{${site_base_url}/onebusaway/1.1.5/}}